<mat-grid-list cols="7" rowHeight="2:3" class="base-cards">
    @for (card of baseCards; track $index) {
    <mat-grid-tile>
        <app-card-with-count-input [card]="card" (onCountChanged)="this.handleCountChanged(card, $event)" />
    </mat-grid-tile>
    }
</mat-grid-list>

@if (loading){
<div>Loading kingdom...</div>
}
@else {
<mat-grid-list cols="5" rowHeight="1:1" class="kingdom-cards">
    @for (card of kingdom; track $index) {
    <mat-grid-tile>
        <app-card-with-count-input [card]="card" (onCountChanged)="this.handleCountChanged(card, $event)" />
    </mat-grid-tile>
    }
</mat-grid-list>
}

<h2>victory points: <b>{{this.points}}</b></h2>


<button (click)="loadKingdom()">Reroll Kingdom</button>
<button (click)="calculateVictoryPoints()">Calculate victory points</button>